@font-face {
  font-family: "MyFont";
  src: url("./Roboto.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: MyFont;
}

#taskList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.task {
  display: flex;
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 30vw;
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: #cbd0d8 1.95px 1.95px 2.6px;
  padding: 2vw;
  margin: 2vw;
}
.taskData {
  margin-left: 2vw;
}
