@font-face {
  font-family: "MyFont";
  src: url("./Roboto.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: MyFont;
  user-select: none;
  /* border: 1px solid red; */
}

#taskList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.task {
  display: flex;
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 12rem;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.2rem;
}
.task:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.taskData {
  margin-left: 2vw;
}
.button:hover {
  cursor: pointer;
}
.newTaskButton {
  display: flex;
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 12rem;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.2rem;
  align-items: center;
  color: blue;
}
.newTaskButton:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.newTaskButtonText {
  margin-left: 2vw;
}
.newProjButton {
  display: flex;
  /* border-radius: 15px;
  padding: 0.5rem;
  margin: 0.2rem; */
  align-items: center;
  border-top: 1px solid #f1f3f4;
  padding-top: 2px;
}
.newProjButton:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.newProjButtonText {
  margin-right: 10vw;
}
.mdi {
  font-size: 1.5rem;
}
input {
  border: none;
}
input[type="text"] {
  border: none;
}
.hidden {
  display: none;
}
.checkButton {
  margin-bottom: auto;
}
.projectButton {
  display: flex;
  align-items: center;
  width: 12rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border-bottom: 1px solid #f1f3f4;
}
.projectButton:hover {
  cursor: pointer;
}
.projectsDropdown {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  width: 15rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin: 0 0.2rem 0.2rem 0.2rem;
  gap: 0.5rem;
  border-radius: 7px;
}
.projectMenuItem {
  display: flex;
  align-items: center;
}

.projectMenuItem:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.show {
  display: flex;
}

#newProjModal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

#newProjModalDialog {
  background-color: white;
  width: 12rem;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#newProjModalDialog input {
  background-color: #f3f3f3;
  padding: 1rem;
}

#newProjModalButtons {
  display: flex;
  margin-left: auto;
  gap: 3vw;
}
