@font-face {
  font-family: "MyFont";
  src: url("./Roboto.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: MyFont;
}

#something {
  font-size: 5rem;
  margin: 10vw;
}
